<app-top-bar></app-top-bar>
<div class="principal">
    <div class="titulo">
        <h1>
            Cadastro de Gerentes
        </h1>
    </div>
    <div class="caixa-filtro">
        <div class="nome">
            <input type="text" class="namefield" id="name" placeholder="Nome Completo">
        </div>
      <div class="filtro">
        <h1>Idade:</h1>
        <input type="date" class="filter" id="EDV" placeholder="EDV"/>
        <button type="button" class="btn btn-success">Salvar</button>
      </div>
    </div>
    <div class="tabela">
        <table class="table table-striped">
          <thead>
            <tr>
            <th>Nome</th>
            <th>Idade</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>logica ngFor para puxar nomes</td>
              <td>logica ngFor para puxar idades</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  