<app-top-bar></app-top-bar>
<div class="login">
   <form>

        <h2>Bem-Vindo</h2>
        <p>Realize seu login para continuar</p>
       <div class="loginInput">
           <input type="text" id="login" placeholder="Usuário" />
       </div>

       <div class="passwordInput">
            <input type="password" id="password" placeholder="Senha" />
        </div>
        <div class="buttonsInput">
            <button type="button" class="btn btn-primary" (click)="login()">Logar</button>
        </div>
   </form>
</div>